@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar design */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #ffbf3f;
  border-radius: 3px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  -webkit-tap-highlight-color: transparent;
  color: #060b1e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 120% !important;
}

p {
  line-height: 150% !important;
}

@layer components {
  /* Main Container styles */
  .container {
    @apply mx-auto max-sm:max-w-[90%] sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] xxl:max-w-[1296px];
  }
  /* Typography */
  .display-1 {
    @apply text-4xl md:text-5xl lg:text-6xl xl:text-7xl xxl:text-[96px] !leading-[120%] font-bold;
  }

  .display-2 {
    @apply text-4xl md:text-5xl lg:text-6xl xl:text-[88px] !leading-[120%] font-bold;
  }

  .display-3 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl xxl:text-[64px]  font-bold;
  }

  .display-4 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-[56px] font-bold;
  }

  .heading-1 {
    @apply text-[28px] sm:text-[32px] md:text-4xl lg:text-[40px] xl:text-[44px] xxl:text-5xl font-bold;
  }

  .heading-2 {
    @apply text-xl sm:text-2xl md:text-[28px] lg:text-[32px] xl:text-4xl xxl:text-[40px] font-bold;
  }

  .heading-3 {
    @apply text-xl lg:text-2xl xl:text-[28px] xxl:text-4xl font-bold;
  }

  .heading-4 {
    @apply text-lg lg:text-xl xl:text-[22px] xxl:text-2xl  font-bold;
  }

  .heading-5 {
    @apply text-lg xxl:text-xl  font-bold;
  }

  .heading-6 {
    @apply text-lg xxl:text-xl  font-bold;
  }

  .lead-text {
    @apply text-xl lg:text-2xl;
  }

  .xl-body {
    @apply text-base lg:text-lg xl:text-xl;
  }

  .l-body {
    @apply text-base lg:text-lg;
  }

  .m-body {
    @apply text-sm xl:text-base;
  }

  .s-body {
    @apply text-sm;
  }

  /* stp = section top padding, sbp= section bottom padding */

  .stp-30 {
    @apply pt-16 md:pt-24 xl:pt-30;
  }
  .sbp-30 {
    @apply pb-16 md:pb-24 xl:pb-30;
  }

  .stp-15 {
    @apply pt-8 md:pt-12 xl:pt-15;
  }
  .sbp-15 {
    @apply pb-8 md:pb-12 xl:pb-15;
  }

  /* Button */

  /* drop shadow */

  .shadow2 {
    @apply shadow-[0px_6px_30px_0px_rgba(0,0,0,0.06)];
  }

  .header_menu_shadow {
    @apply shadow-[0px_2px_0px_0px_#FFBF3F];
  }
}

@layer base {
  .eventunset {
    pointer-events: unset;
  }
}

.hero_bg_gradient {
  background: linear-gradient(
    252deg,
    #1a938a 0%,
    rgba(26, 147, 138, 0) 100.44%
  );
}

.linear-gradient-bg-team {
  background: linear-gradient(
    116deg,
    rgba(120, 120, 120, 0.3) 10.92%,
    rgba(255, 255, 255, 0.04) 96.4%
  );
  backdrop-filter: blur(20px);
}

.testimonial-bg {
  background: linear-gradient(
    116deg,
    rgba(239, 239, 239, 0.6) 10.92%,
    rgba(255, 255, 255, 0.08) 96.4%
  );

  backdrop-filter: blur(20px);
}

/* swiper smooth slide */
.sponsors .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.text-outline {
  color: #fff;
  text-shadow: -1px 1px 0 #005651, 1px 1px 0 #005651, 1px -1px 0 #005651,
    -1px -1px 0 #005651;
}

/* menu animation */

.animationOne {
  animation: fadeDown 0.5s linear;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animationTwo {
  animation: fadeDown2 0.5s linear;
}

@keyframes fadeDown2 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* percentage line fill */

.lineAnimation {
  animation: line 3s;
}

@keyframes line {
  0% {
    width: 0%;
  }
  100% {
    width: auto !important;
  }
}

/* input number arrow hide */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefoxs */
input[type="number"] {
  -moz-appearance: textfield;
}

/* custom checkbox */

.table-checkbox input[type="checkbox"] {
  position: relative;
  width: 18px;
  height: 18px;
  background-color: white;
  border: 1px solid #005651;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
}
.table-checkbox input[type="checkbox"]:checked {
  background-color: white;
}
.table-checkbox input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 4px;
  width: 8px;
  height: 12px;
  border: 2px solid transparent;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}
.table-checkbox input[type="checkbox"]:checked::before {
  border-color: #005651;
}

/* animation */
.circle {
  animation: circleAnimation 15s linear infinite;
}

.zoomInOut {
  animation: zoomInOutAnimation 10s linear infinite;
}

.jumping1 {
  animation: jumpingImage1 3s linear infinite;
}
.jumping2 {
  animation: jumpingImage2 3s linear infinite;
}

.slideRight {
  animation: slideRight 3s linear infinite;
}
.slideLeft {
  animation: slideLeft 3s linear infinite;
}

@keyframes circleAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes zoomInOutAnimation {
  50% {
    transform: scale(0.9);
  }
}

@keyframes jumpingImage1 {
  50% {
    transform: translateY(10px);
  }
}

@keyframes jumpingImage2 {
  50% {
    transform: translateY(-10px);
  }
}

@keyframes slideRight {
  50% {
    transform: translateX(10px);
  }
}

@keyframes slideLeft {
  50% {
    transform: translateX(-10px);
  }
}

/* toastify border color */

.Toastify__progress-bar-theme--light {
  background: #ffbf3f !important;
}
